* {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
}

table {
	width: 70%;
}

table, th, td {
	border: 1.5px solid #2471A3;
	margin: 0 auto;
}

th, td {
	padding: 5px;
}

#identificationDiv {
	width: 70%;
	margin: 0 auto;
	text-align: right;
	/*border: 1px solid red;*/
}

#identificationDiv > p > span {
  	color: #2471A3;
  	font-weight: bold;
}

#identificationDiv > p > a {
	text-decoration: none;
}

#identificationDiv > p > a:hover {
  	text-decoration: underline;
}